.submitButton1{
  color: black;
  background-color: white;
  color:#f59185;
  margin: 3px;
  border: 1px solid #f59185;
  size:36px;
  /*-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0)*/
}


.Sportfeed{

  color:#f59185;
  font-family: fantasy;

}



.rr{
  text-align: right

}